html, body {
  display: block;
  height: 100%;
  width: 100%;
}

@mixin clusterSize($size) {
  top: -$size/2;
  left: -$size/2;
  width: $size;
  height: $size;
}

.masthead {
  background: #000;
  color: #fff;
  text-align: center;

  h1 {
    font-weight: 300;
  }

  #masthead-map {
    height: 500px;
    margin: 40px 0;
    background: white;

    .wm-cluster {
      position: relative;
      @include clusterSize(100px);
      border-radius: 100%;
      background-size: cover;
      background-color: #fff;
    }

    @for $i from 0 through 20 {
      &[data-wm-zoom="#{$i}"] {
        .wm-cluster {
          $j: 21 - $i;
          $size: 350000px / ($j*$j*$j);
          @include clusterSize($size);
        }
      }
    }
  }

  .btn {
    background: #000;
    color: #fff;
    border-color: #fff;
    margin-bottom: 2rem;

    &:active, &:hover {
      color: #000;
      background: #fff;
    }
  }

}

.map-sample {
  position: relative;
  width: 100%;
  height: 300px;
}