html, body {
  display: block;
  height: 100%;
  width: 100%; }

.masthead {
  background: #000;
  text-align: center; }
  .masthead h1 {
    font-weight: 300;
    color: #fff;
    text-align: center; }
  .masthead #masthead-map {
    height: 500px;
    margin: 40px 0;
    background: white; }
    .masthead #masthead-map .wm-cluster {
      position: relative;
      top: -50px;
      left: -50px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-size: cover;
      background-color: #fff; }
    .masthead #masthead-map[data-wm-zoom="0"] .wm-cluster {
      top: -18.89645px;
      left: -18.89645px;
      width: 37.79289px;
      height: 37.79289px; }
    .masthead #masthead-map[data-wm-zoom="1"] .wm-cluster {
      top: -21.875px;
      left: -21.875px;
      width: 43.75px;
      height: 43.75px; }
    .masthead #masthead-map[data-wm-zoom="2"] .wm-cluster {
      top: -25.51392px;
      left: -25.51392px;
      width: 51.02785px;
      height: 51.02785px; }
    .masthead #masthead-map[data-wm-zoom="3"] .wm-cluster {
      top: -30.00686px;
      left: -30.00686px;
      width: 60.01372px;
      height: 60.01372px; }
    .masthead #masthead-map[data-wm-zoom="4"] .wm-cluster {
      top: -35.61978px;
      left: -35.61978px;
      width: 71.23957px;
      height: 71.23957px; }
    .masthead #masthead-map[data-wm-zoom="5"] .wm-cluster {
      top: -42.72461px;
      left: -42.72461px;
      width: 85.44922px;
      height: 85.44922px; }
    .masthead #masthead-map[data-wm-zoom="6"] .wm-cluster {
      top: -51.85185px;
      left: -51.85185px;
      width: 103.7037px;
      height: 103.7037px; }
    .masthead #masthead-map[data-wm-zoom="7"] .wm-cluster {
      top: -63.77551px;
      left: -63.77551px;
      width: 127.55102px;
      height: 127.55102px; }
    .masthead #masthead-map[data-wm-zoom="8"] .wm-cluster {
      top: -79.65407px;
      left: -79.65407px;
      width: 159.30815px;
      height: 159.30815px; }
    .masthead #masthead-map[data-wm-zoom="9"] .wm-cluster {
      top: -101.27315px;
      left: -101.27315px;
      width: 202.5463px;
      height: 202.5463px; }
    .masthead #masthead-map[data-wm-zoom="10"] .wm-cluster {
      top: -131.48009px;
      left: -131.48009px;
      width: 262.96018px;
      height: 262.96018px; }
    .masthead #masthead-map[data-wm-zoom="11"] .wm-cluster {
      top: -175px;
      left: -175px;
      width: 350px;
      height: 350px; }
    .masthead #masthead-map[data-wm-zoom="12"] .wm-cluster {
      top: -240.05487px;
      left: -240.05487px;
      width: 480.10974px;
      height: 480.10974px; }
    .masthead #masthead-map[data-wm-zoom="13"] .wm-cluster {
      top: -341.79688px;
      left: -341.79688px;
      width: 683.59375px;
      height: 683.59375px; }
    .masthead #masthead-map[data-wm-zoom="14"] .wm-cluster {
      top: -510.20408px;
      left: -510.20408px;
      width: 1020.40816px;
      height: 1020.40816px; }
    .masthead #masthead-map[data-wm-zoom="15"] .wm-cluster {
      top: -810.18519px;
      left: -810.18519px;
      width: 1620.37037px;
      height: 1620.37037px; }
    .masthead #masthead-map[data-wm-zoom="16"] .wm-cluster {
      top: -1400px;
      left: -1400px;
      width: 2800px;
      height: 2800px; }
    .masthead #masthead-map[data-wm-zoom="17"] .wm-cluster {
      top: -2734.375px;
      left: -2734.375px;
      width: 5468.75px;
      height: 5468.75px; }
    .masthead #masthead-map[data-wm-zoom="18"] .wm-cluster {
      top: -6481.48148px;
      left: -6481.48148px;
      width: 12962.96296px;
      height: 12962.96296px; }
    .masthead #masthead-map[data-wm-zoom="19"] .wm-cluster {
      top: -21875px;
      left: -21875px;
      width: 43750px;
      height: 43750px; }
    .masthead #masthead-map[data-wm-zoom="20"] .wm-cluster {
      top: -175000px;
      left: -175000px;
      width: 350000px;
      height: 350000px; }
  .masthead .btn {
    background: #000;
    color: #fff;
    border-color: #fff;
    margin-bottom: 2rem; }
    .masthead .btn:active, .masthead .btn:hover {
      color: #000;
      background: #fff; }

.map-sample {
  position: relative;
  width: 100%;
  height: 300px; }
